body {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
}

h3 {
    text-align: center;
}

ol {
    margin: 30px 30px 30px 110px;
}

.italic {
    font-style: italic;
}

.p-1 {
    margin: 30px 30px 30px 130px;
}

.p-2 {
    padding: 0px;
    margin-left: 680px;
}

img {
    margin: 45px 400px;
}

a {
    padding: 0px;
    margin-left: 680px;
}